@tailwind base;
@tailwind components;
@tailwind utilities;

/* sm */
@media (min-width: 640px) {
  .top-menu {
    width: calc(100% - 18rem);
  }

  .left-menu-cont-items {
    height: calc(90vh - 31rem);
  }
  #body {
    width: calc(100% - 18rem);
  }
}
/*  */
@media (max-width: 640px) {
  .left-menu-cont-items {
    height: calc(100vh - 31rem);
  }

  #body {
    width: 100%;
  }
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-color-main {
  scrollbar-color: rgba(0, 0, 0, 0.3) #2e9ecb;
}

.scrollbar-thin {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: black;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #3C77FF;
    border-radius: 15%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: url('/assets/check_mark.svg');
    width: 12px;
    height: 12px;
    /* background: #3C77FF; */
    position: absolute;
    top: -1px;
    left: 2.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}